imap_host: imap.gmail.com
imap_port: 993
imap_ssl: true
# imap_auth_mechanism: PLAIN # Uncomment to precise an AUTH mechanism. Otherwise login will be used. For Gmail, keep commented.
imap_user: user
imap_password: password
local_folder: /path/to/dokuwiki/instance
